{%- doc -%}
  Renders a announcement bar with carousel functionality.

  Supports icons, highlighted text, mobile-specific content, optional links, and accessible navigation.

  @param {object} section - Section settings object
  @param {number} announcements_count - The total number of announcements

  @example
  {% render 'announcements-carousel', section: section %}
{%- enddoc -%}

<div class="announcement-bar h-full flex justify-center lg:justify-{{ section.settings.announcement_position }}{% unless section.settings.show_navigation %} without-nav{% endunless %} relative">
  <announcement-bar id="Slider-{{ section.id }}" class="announcement__slides{% if announcements_count > 1 %} flex justify-center w-full h-full flickity{% endif %}"{% if section.settings.autoplay %} autoplay autoplay-speed="{{ section.settings.autoplay_speed }}"{% endif %}>
    {%- liquid
      assign with_gradient = false
      if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
        assign with_gradient = true
      endif
    -%}
    {%- for block in section.blocks -%}
      <div class="announcement__slide flex h-full"{% unless forloop.first %} aria-hidden="true"{% endunless %} {{ block.shopify_attributes }}>
        {%- capture announcement_content -%}
          {%- if block.settings.icon != 'none' -%}
            <span class="announcement-icon{% if block.settings.hide_icon_mobile %} hidden md:block{% endif %}">
              {%- render 'icon-announcement', icon: block.settings.icon, size: 'xs', class: 'stroke-1' -%}
            </span>
          {%- endif -%}

          {%- if block.settings.text_mobile != blank -%}
            <p class="announcement-text leading-tight md:hidden">
              {%- render 'highlighted-text', content: block.settings.text_mobile, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
            </p>
            <p class="announcement-text leading-tight hidden md:block">
              {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
            </p>
          {%- else -%}
            <p class="announcement-text leading-tight">
              {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
            </p>
          {%- endif -%}
        {%- endcapture -%}

        {%- if block.settings.link != blank -%}
          {%- liquid
            assign accessibility = true
            if announcements_count > 1
              unless forloop.first
                assign accessibility = false
              endunless
            endif
          -%}
          <a class="announcement__content flex items-center gap-2" href="{{ block.settings.link }}"{% unless accessibility %} tabindex="-1"{% endunless %}>
            {{- announcement_content -}}
          </a>
        {%- else -%}
          <div class="announcement__content flex items-center gap-2 rte">
            {{- announcement_content -}}
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </announcement-bar>
  {%- if section.settings.show_navigation and announcements_count > 1 -%}
    <button type="button" is="previous-button" class="fader left relative flex items-center justify-start h-full" aria-controls="Slider-{{ section.id }}" aria-label="{{ 'general.pagination.previous' | t | escape }}">
      <svg class="icon icon-arrow-left icon-xs transform" viewBox="0 0 15 14" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.33333 2.91675L2.25 7.00004M2.25 7.00004L6.33333 11.0834M2.25 7.00004H12.75"></path>
      </svg>
    </button>
    <button type="button" is="next-button" class="fader right relative flex items-center justify-end h-full" aria-controls="Slider-{{ section.id }}" aria-label="{{ 'general.pagination.next' | t | escape }}">
      <svg class="icon icon-arrow-right icon-xs transform" viewBox="0 0 15 14" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 7.00004H12.75M12.75 7.00004L8.66667 2.91675M12.75 7.00004L8.66667 11.0834"></path>
      </svg>
    </button>
    {%- if section.settings.autoplay -%}
      <button
        type="button"
        class="slideshow-control flex items-center justify-center rounded-full sr-only"
        is="control-button"
        aria-controls="Slider-{{ section.id }}"
        aria-live="polite"
      >
        <span class="slideshow-control__pause">
          {%- render 'icon', icon: 'pause' -%}
          <span class="sr-only">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
        </span>
        <span class="slideshow-control__play">
          {%- render 'icon', icon: 'play' -%}
          <span class="sr-only">{{ 'sections.slideshow.play_slideshow' | t }}</span>
        </span>
      </button>
    {%- endif -%}
  {%- endif -%}
</div>
